* {
    box-sizing: border-box;
    font-family: 'GothamWeb', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    font-size: 14px;
    margin: 0;
    --border-color: rgba(196, 207, 214, 0.2);
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-weight: 400;
    --accent: #054cf3;
    --color-correct: #00d7a1;
    --color-incorrect: #f8065f;
}

.container {
    display: grid;
    grid-template-rows: 60px calc(100vh - 100px) 40px;
}

.container main {
    border-block: 1px solid var(--border-color);
    height: 100%;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
}

header>div {
    width: 100%;
}

.headerTitle {
    text-align: center;
    font-size: 1.15em;
    font-weight: 600;
}

.questionNumberLabel {
    background: #EDF3FA;
    border-radius: 100px;
    color: #6e7a87;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    justify-content: center;
}

.headerQuestionWrapper {
    display: flex;
    justify-content: flex-start;
}

.questionLabel {
    font-size: 1.6em;
    font-weight: 600;
}

.questionType {
    --fg: #6e7a87;
    --bg: #EDF3FA;
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    justify-content: center;
    background: var(--bg);
    color: var(--fg);
}

.question-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
}

main {
    position: relative;
    padding: 30px;
}

.questionType.trueFalse {
    --bg: hsla(45, 83%, 95%, 1);
    --fg: hsla(43, 67%, 50%, 1);
}

.questionType.multipleChoice {
    --bg: hsla(148, 83%, 95%, 1);
    --fg: hsla(130, 61%, 50%, 1);
}

.questionType.fillInTheBlanks {
    --bg: hsla(209, 100%, 96%, 1);
    --fg: hsla(209, 91%, 58%, 1);
}

::selection {
    background: rgba(138, 150, 165, 0.1);
}

.answer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 30px;
    gap: 12px;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0px 8px 20px rgba(136, 159, 174, 0.06);
    border-radius: 20px;
    border: 1px solid rgba(215, 229, 239, .4);
    border-bottom-color: rgba(215, 227, 236, .76);
    height: 12vh;
    max-height: 80px;
    min-height: 60px;
    transition: .2s;
}

.answersArea {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.answer>.left {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.answer .keyboardShortcut {
    --color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 35px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid rgba(229, 240, 247, 0.8);
    box-shadow: 0px 2px 20px rgba(130, 137, 141, 0.1);
    border-radius: 100px;
    color: var(--color);
    transition: .2s;
}

.keyboardShortcut[data-key="a"] {
    --color: #FF0F66;
}

.keyboardShortcut[data-key="b"] {
    --color: #FFD90F;
}

.keyboardShortcut[data-key="c"] {
    --color: #0FFF52;
}

.keyboardShortcut[data-key="d"] {
    --color: #0F6FFF;
}

.keyboardShortcut[data-key="e"] {
    --color: #FFAE0F;
}

.keyboardShortcut[data-key="f"] {
    --color: #DD0FFF;
}

.submitArea {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
}

button.primary {
    background: var(--accent);
    color: #fff;
    border: none;
    outline: none;
    font-size: 1.06em;
    border-radius: 10px;
    height: 48px;
    padding: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .15s;
}

.submitArea button {
    width: 350px;
    height: 54px !important;
}

button.primary:hover {
    transition: .15s;
    box-shadow: 0 5px 6px rgba(78, 87, 107, 0.14);
    background: #0848df;
}

.answer.selected {
    background: var(--accent);
    color: #fff;
    box-shadow: 0px 8px 20px rgba(136, 159, 174, 0.14);
    font-weight: 600;
    transition: .2s;
    border-color: var(--accent) !important;
}

.answer.selected .keyboardShortcut {
    --color: var(--accent) !important;
    box-shadow: none;
    transition: .2s;
}

.answer.correct {
    background: var(--color-correct);
    color: #fff;
    box-shadow: 0px 8px 20px rgba(136, 159, 174, 0.14);
    font-weight: 600;
    transition: .2s;
    border-color: var(--color-correct) !important;
}

.answer.correct .keyboardShortcut {
    --color: var(--color-correct) !important;
    box-shadow: none;
    transition: .2s;
}

.answer.incorrect {
    background: var(--color-incorrect);
    color: #fff;
    box-shadow: 0px 8px 20px rgba(136, 159, 174, 0.14);
    font-weight: 600;
    transition: .2s;
    border-color: var(--color-incorrect) !important;
}

.answer.incorrect .keyboardShortcut {
    --color: var(--color-incorrect) !important;
    box-shadow: none;
    transition: .2s;
}

.onboarding {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.onboarding-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 350px;
}

.onboarding-main .heading {
    font-size: 1.7em;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

input {
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    transition: .15s;
    border: 1px solid rgba(229, 240, 247, 0.8);
    background: none;
    border-radius: 8px;
}

.onboarding #onboardingNameInp {
    font-size: 1.04em;
    border-radius: 10px;
    height: 48px;
    width: 100%;
    transition: .15s;
    padding: 15px;
}

input:focus {
    border-bottom: 3.5px solid var(--accent);
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    transition: .15s;
}

.onboarding-main button {
    height: 48px;
    width: 100%;
}

::placeholder {
    color: #8d9dae;
}

.scoreText {
    border-radius: 10px;
    color: #fff;
    background: rgb(24, 29, 35);
    /* color: #4f555e;
    background: #eff4fa; */
    padding: 8px;
    font-weight: 600;
    width: 70px;
    text-align: center;
    font-size: 1.02em;
}

.headerToolbarWrapper {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

button.disabled {
    background: #f9faff;
    color: #acadba;
    pointer-events: none;
    transition: .15s;
}

.answer .right {
    display: flex;
}

.answer .right svg {
    display: flex;
    width: 28px;
    height: 28px;
}

.answer:not(.incorrect):hover,
.answer:not(.correct):hover {
    transition: .2s;
    border: solid 4px var(--accent);
}

.answersArea.fillInBlanks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wordBank {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.wordBank .bankGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.bankTitle {
    font-weight: 600;
    font-size: 1.1em;
}

.wordBank .bankItem {
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: 10px;
    transition: .15s;
    min-width: 80px;
    text-align: center;
}

.wordBank .bankItem:hover {
    box-shadow: 0 10px 20px rgba(229, 240, 247, 0.8);
    transition: .15s;
    background: rgb(24, 29, 35);
    color: #fff;
    cursor: pointer;
}

.fillInBlanks .blanksParagraph {
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.fillInBlanks .blanksParagraph .blank {
    padding: 10px;
    font-size: inherit;
    background: #f9faff;
    border: none;
    border-radius: 10px;
    transition: .15s;
    margin-inline: 5px;
    text-align: center;
    display: inline-flex;
    outline: none;
}

.fillInBlanks .blanksParagraph .blank:not(:focus):not(:empty) {
    --background: #084be7;
    color: #fff;
    transition: background .15s;
    box-shadow: 0 3px 7px rgba(83, 88, 99, 0.1);
    background: var(--background);
    transition: .15s
}

.blanksParagraph .blank:empty {
    width: 100px;
    transition: .15s;
}

.blanksParagraph .blank:empty:focus {
    transition: .15s;
    width: 100px;
}

.fillInBlanks .blanksParagraph .blank:focus::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--accent);
    border-radius: 0 0 10px 10px;
    transition: .15s;
    animation: input-btm .15s;
    transform-origin: center;
}

.blanksParagraph .blank:focus {
    position: relative;
    border-radius: 10px 10px 3px 3px;
    transition: .15s;
}

.fillInBlanks .blanksParagraph .blank.incorrect {
    --background: var(--color-incorrect) !important;
}

.fillInBlanks .blanksParagraph .blank.correct {
    --background: var(--color-correct) !important;
}

.blanksParagraph .blank.correct,
.blanksParagraph .blank.incorrect {
    transition: .2s;
    color: #fff;
}

@keyframes input-btm {
    from {
        opacity: 0;
        transform: scaleX(1%);
    }
}

.errorMessage {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--color-incorrect);
}

.bankItem.used {
    background: #f9faff;
    color: #acadba;
    pointer-events: none;
    transition: .15s;
}

.readonly {
    pointer-events: none !important;
}

.answerStreak {
    display: flex;
    align-items: center;
    gap: 6px;
}

.answerStreak img {
    width: 24px;
    height: 24px;
    transition: .3s;
}

.answerStreak.zero img {
    filter: saturate(0) opacity(.5);
    transition: .3s;
}

.answerStreak span {
    font-weight: 600;
    font-size: 1.02em;
}

.completion {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: space-around;
    max-height: 100%;
    overflow-y: auto;
}

.completion>.top,
.completion>.bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.completion>.top {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sectionTitle {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 5px;
}



.bottom>section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 15px;
}

.sectionSubtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: #6e7a87;
    font-size: 1.1em;
    text-transform: uppercase;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 15px;
    width: 100%;
}

.sectionMain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sectionMain.sectionList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.questionReviewItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
}

.qlHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.qlHeader .number {
    background: rgb(24, 29, 35);
    color: #fff;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    border-radius: 8px;
    box-shadow: 0 4px 7px rgba(74, 81, 90, 0.1);
}

.qlLabel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.qlLabel .qlType {
    color: #4f555e;
    background: #eff4fa;
    font-size: 0.94em;
    padding: 6px 9px;
    text-transform: uppercase;
    border-radius: 7px;
}

.qlLabel .qlQuestion {
    font-weight: 600;
    font-size: 1.2em;
    width: 100%;
}

.qlOptions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
    padding-left: 50px;
}

.qlOption {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 13px 20px;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(141, 154, 172, 0.06);
}
.qlOption.ql-correct {
    background: var(--color-correct);
    border-color: var(--color-correct);
    color: #fff;
    font-weight: 600;
}
.qlOption.ql-incorrect {
    background: var(--color-incorrect);
    border-color: var(--color-incorrect);
    color: #fff;
}
.qlOption .letter {
    border: 1px solid var(--border-color);
    height: 28px;
    width: 28px;
    color: var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.qlOptionLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.qlOption.ql-incorrect .letter {
    background: #fff;
    color: var(--color-incorrect);
    border-color: var(--color-incorrect);
}
.qlOption.ql-correct .letter {
    background: #fff;
    color: var(--color-correct);
    border-color: var(--color-correct);
}
.qlOption[class*="ql-"] {
    box-shadow: 0 4px 7px rgba(74, 81, 90, 0.1);
}
.sectionTitleGroup .subtitle {
    font-size: 1.1em;
    color: #6e7a87;
}
.sectionTitleGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;;
}
.quizScore {
    font-size: 4em;
    font-weight: 600;
}